In [2]:
import pandas as pd

In [3]:
from scipy.stats import chi2_contingency, chi2

In [4]:
campaign_data = pd.read_excel("C:/Users/hynni/OneDrive/Documents/grocery_database.xlsx", sheet_name="campaign_data")

In [5]:
campaign_data

     customer_id  campaign_name campaign_date mailer_type  signup_flag
0             74  delivery_club    2020-07-01     Mailer1            1
1            524  delivery_club    2020-07-01     Mailer1            1
2            607  delivery_club    2020-07-01     Mailer2            1
3            343  delivery_club    2020-07-01     Mailer1            0
4            322  delivery_club    2020-07-01     Mailer2            1
..           ...            ...           ...         ...          ...
865          372  delivery_club    2020-07-01     Mailer2            1
866          104  delivery_club    2020-07-01     Mailer1            1
867          393  delivery_club    2020-07-01     Mailer2            1
868          373  delivery_club    2020-07-01     Control            0
869          712  delivery_club    2020-07-01     Control            0

[870 rows x 5 columns]

In [6]:
campaign_data2 = campaign_data.loc[campaign_data["mailer_type"]!="Control"]

In [7]:
campaign_data2

     customer_id  campaign_name campaign_date mailer_type  signup_flag
0             74  delivery_club    2020-07-01     Mailer1            1
1            524  delivery_club    2020-07-01     Mailer1            1
2            607  delivery_club    2020-07-01     Mailer2            1
3            343  delivery_club    2020-07-01     Mailer1            0
4            322  delivery_club    2020-07-01     Mailer2            1
..           ...            ...           ...         ...          ...
863          765  delivery_club    2020-07-01     Mailer2            1
864          466  delivery_club    2020-07-01     Mailer1            1
865          372  delivery_club    2020-07-01     Mailer2            1
866          104  delivery_club    2020-07-01     Mailer1            1
867          393  delivery_club    2020-07-01     Mailer2            1

[711 rows x 5 columns]

In [10]:
observed_values = pd.crosstab(campaign_data2["mailer_type"], campaign_data2["signup_flag"])

In [11]:
observed_values

signup_flag    0    1
mailer_type
Mailer1      252  123
Mailer2      209  127

In [12]:
mailer1_rate = 123/(252+123)
mailer2_rate = 127/(209+127)
print(mailer1_rate, mailer2_rate)

0.328 0.37797619047619047

In [14]:
chi2_statistic, p_value, dof, expected_values = chi2_contingency(observed_values)
print(chi2_statistic,"\n", p_value,"\n",dof,"\n", expected_values)

1.728424144871394
 0.1886122739808747
 1
 [[243.14345992 131.85654008]
 [217.85654008 118.14345992]]

In [16]:
acceptance_criteria = 0.05

null_hypothesis = "There is no relationship between the mailer type and the signup rate. They are independent."

alternative_hypothesis = "There is a relationship between the mailer type and the signup rate. They are not independent."

In [17]:
if p_value <= acceptance_criteria:
    print(f"As our p-value of {p_value} is lower than acceptance criteria {acceptance_criteria}, we reject the null hypothesis and conclude that {alternative_hypothesis}")
else:
    print("Se olikin se nulli...")

Se olikin se nulli...